/* Body */

* {
  margin: 0;
  padding: 0;
  font-family: 'arial black';
}

body {
  margin: 0 10%;
  padding: 0;
}

li {
  list-style-type: none;
}

button{
    font-size: 12px;
    padding: 0.5em 1em;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 2px #627295;
    border-radius: 2px;
    margin-bottom: 10px;
}


button:hover {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    border-bottom: none;
  }


/* Headline */

h1 {
  font-size: 40px;
  font-family: 'arial black';
  text-align: left;
  background: orange;
  padding: 20px;
}

h2 {
  font-family: 'arial black';
  font-size: 30px;
}


/* header */

header {
  text-align: center;
}

header p {
  display: inline;
}

input {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
