/* Body */

* {
  margin: 0;
  padding: 0;
  font-family: YuGothic ;
}

body {
  margin: 0 10%;
  padding: 0;
}

li {
  list-style-type: none;
}



/* Headline */

h1 {
  font-size: 40px;
  text-align: left;
  background: #555555;
  color: #FFF;
  padding: 20px;
}

h2 {
  font-size: 30px;
}


/* header */

header {
  text-align: center;
  margin-bottom: 10px;
}

header p {
  display: inline;
}

input {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

header button {
  font-size: 24px;
  padding: 0 8px;
  border-style: none;
  color: #FFF;
  background-color: #F39800;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header button:hover {
  background-color: #F9C500;
}


/* Active task list */

.active-entries {
  font-size: 20px;
}

.active-entries button {
  font-size: 20px;
}



/* Completed task list */

.completed-entries {
  color: gray;
  font-size: 20px;
  text-decoration: line-through;
}


/* Clear Button */

.control button {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0 8px;
  border-style: none;
  color: #FFF;
  background-color: #0E7AC4;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.control button:hover {
  background-color: #40AAEF;
}

